<div class="card card-info card-outline address nested-fields">
  <div class="card-header with-border">
    <h3 class="card-title">
      <%= BankAccount.model_name.human %>
    </h3>
  </div>
  <div class="card-body">
    <div class="row ">
      <%= f.association :bank, wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :agency, wrapper_html: { class: 'col-md-3' } %>
      <%= f.input :number_account, wrapper_html: { class: 'col-md-3' }%>
      <%= f.input :operation, wrapper_html: { class: 'col-md-3' } %>
    </div>
  </div>
</div>
