<aside class="main-sidebar elevation-4 sidebar-dark-info">
  <!-- Brand Logo -->
  <%= link_to root_path, class: 'brand-link navbar-info' do %>
    <span class="logo-lg">
      <i class="pl-4 fa fa-laptop-house"></i>
    </span>
    <span class="brand-text">
      <strong>Meus Projetos</strong>
    </span>
  <% end %>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <% @menu.each do |mi| %>
          <% if can? mi.permission.to_sym, eval_with_rescue(mi.permission_check) %>
            <% unless mi.menu_items.exists? %>
              <li class='nav-item'>
                <%= link_to eval(mi.link), class: "nav-link #{"active" if activated?(mi)}" do %>
                  <i class="nav-icon <%= mi.icon %>"></i>
                  <p><%= mi.name %></p>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item has-treeview <%= 'menu-open' if activated?(mi) %>">
                <a href="#" class="nav-link <%= 'active' if activated?(mi) %>">
                  <i class="nav-icon fas fa-<%= mi.icon %>"></i>
                  <p>
                    <%= mi.name %>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <% mi.menu_items.each do |c| %>
                    <!-- mostrar filhos do menu apenas se tiver permissão -->
                    <% if can? c.permission.to_sym, eval_with_rescue(c.permission_check) %>
                      <% unless c.menu_items.exists? %>
                        <li class='nav-item'>
                          <%= link_to eval(c.link), target: c.target, class: "nav-link #{'active' if activated?(c)}" do %>
                            <i class="nav-icon <%= c.icon %>"></i>
                            <p><%= c.name %></p>
                          <% end %>
                        </li>
                      <% else %>
                        <li class="nav-item has-treeview <%= 'menu-open' if activated?(c) %>">
                          <a href="#" class="nav-link <%= 'active' if activated?(c) %>">
                            <i class="nav-icon fas fa-<%= c.icon %>"></i>
                            <p>
                              <%= c.name %>
                              <i class="right fas fa-angle-left"></i>
                            </p>
                          </a>
                          <ul class="nav nav-treeview">
                            <% c.menu_items.each do |cc| %>
                              <li class='nav-item'>
                                <%= link_to eval(cc.link), target: cc.target, class: "nav-link #{'active' if activated?(cc)}" do %>
                                  <i class="nav-icon <%= cc.icon %>"></i>
                                  <p>
                                    <%= cc.name %>
                                  </p>
                                <% end %>
                              </li>
                            <% end %>
                          </ul>
                        </li>
                      <% end %>
                    <% end %>
                  <% end %>
                </ul>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
  </aside>
