<%= simple_form_for(@construction) do |f| %>

  <div class="card">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link active" href="#tab_1" data-toggle="tab">
          <i class="fa fa-home fa-2x"></i> 
          <br>
          Básico
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tab_2" data-toggle="tab">
          <i class="fa fa-map-marked-alt fa-2x"></i>
          <br>
          Endereço
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tab_3" data-toggle="tab">
          <i class="fa fa-store-alt fa-2x"></i>
          <br>
          Dados da Construção
        </a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="#tab_4" data-toggle="tab">
          <i class="fa fa-drafting-compass fa-2x"></i>
          <br>
          Informações do Projeto
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tab_5" data-toggle="tab">
          <i class="fa fa-id-card fa-2x"></i>
          <br>
          Documentos
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content">

    <div class="tab-pane active" id="tab_1">
      <div class="card card-outline card-info">
        <div class="card-header">
          <h3 class="card-title">
            Dados Básicos
          </h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-9">
               <%= f.input :description, wrapper_html: { class: 'col-md-12' }   %>                   
            </div>            
          </div>
        </div>
      </div>
    </div>
         

    <div class="tab-pane" id="tab_2">
        <%= f.simple_fields_for :addresses do |address| %>
          <%= render 'shared/address_fields', f: address %>
        <% end %>
    </div>

    
      <div class="tab-pane" id="tab_3">
        <div class="card card-outline card-info">
          <div class="card-header">
            <h3 class="card-title">
              Dados da Obra
            </h3>
          </div>
          <div class="card-body">
            <div class="row">
              
               
                <%= f.association :construction_type, collection: ConstructionType.order(:name), wrapper_html: { class: 'col-md-3' }  %>        
                <%= f.input :area, wrapper_html: { class: 'col-md-3' } %>
                               
              
            </div>                
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab_4">
        <div class="card card-outline card-info">
          <div class="card-header">
            <h3 class="card-title">
              Informações do Projeto
            </h3>
          </div>
          <div class="card-body">
            <div class="row">
              
                <%= f.input :start_date, html5: true, wrapper_html: { class: 'col-md-3' } %>
                <%= f.input :end_date, html5: true, wrapper_html: { class: 'col-md-3' } %>   
                <%= f.input :expected_budget, wrapper_html: { class: 'col-md-3' } %>              
                                  
              
            </div>                
          </div>
        </div>


        <div class="card card-outline card-info">
          <div class="card-header">
            <h3 class="card-title">
              Projetos
            </h3>
          </div>
          <div class="card-body">
            <div class="row">              
              <div class="col-md-12">
                <%= f.simple_fields_for :projects do |p| %>
                  <%= render 'document_fields', f: p %>
                <% end %>

                <div class="control-group">
                  <div class="controls">
                    <%= link_to_add_association f, :projects do %>
                      <div class="btn btn-success">
                        <i class="fa fa-fw fa-plus"></i> Adicionar Projeto
                      </div>
                    <% end %>
                </div>
              </div>
            </div>
            </div>                
          </div>

        </div>


      </div>


    

      <div class="tab-pane" id="tab_5">
        <div class="card card-outline card-info">
          <div class="card-header">
            <h3 class="card-title">
              Documentos
            </h3>
          </div>
          <div class="card-body">
            <div class='row'>
              <div class="col-md-12">
                <%= f.simple_fields_for :documents do |fe| %>
                  <%= render 'document_fields', f: fe %>
                <% end %>

                <div class="control-group">
                  <div class="controls">
                    <%= link_to_add_association f, :documents do %>
                      <div class="btn btn-success">
                        <i class="fa fa-fw fa-plus"></i> Adicionar Documento
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  

  
  
  </div>  

  <div class="card card-outline card-info">
    <div class="card-footer">
      <%= f.submit class: "btn btn-info" %>
      <%= link_to 'Cancelar', eval_with_rescue("#{controller_name}_path"), class: "btn btn-default" %>
    </div>
  </div>


<% end %>


